asgiref==3.5.2
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.1.3
django-cors-headers==4.1.0
django-import-export==3.0.2
django-js-asset==2.0.0
django-mptt==0.14.0
django-multiselectfield==0.1.12
django-simpleui==2022.11.30
django-taggit==3.1.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
greenlet==2.0.1
idna==3.4
MarkupPy==1.14
mod-wsgi @ file:///D:/cc/software/python/apache/mod_wsgi-4.9.2-cp310-cp310-win_amd64.whl
mysql-connector-python==8.0.31
numpy==1.23.5
odfpy==1.4.1
openpyxl==3.0.10
pandas==1.5.2
Pillow==9.3.0
protobuf==3.20.1
psycopg2==2.9.5
pypiwin32==223
python-dateutil==2.8.2
pytz==2022.6
pywin32==305
PyYAML==6.0
rarfile==4.0
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==1.4.45
sqlparse==0.4.3
tablib==3.3.0
tzdata==2022.6
urllib3==2.0.2
xlrd==2.0.1
xlwt==1.3.0
