{% extends 'index_base_20220818.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
    <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href=''>看板</a>
    </li>

    <li>
        <a href={% url "job:JobListView" %}>料号列表</a>
    </li>
<script>$("#basic-table").DataTable({retrieve: true,});</script>
{% endblock %}

{% block search %}
    <script src={% static "javascripts/jquery.min.js" %}></script>
{#    <form class="navbar-form">#}

      <input class="form-control" id="form-control" placeholder="料号ID精准查询" type="text" onkeydown="if(event.keyCode==13) {search_by_job_id()}">

{#    </form>#}

    <script>
        function search_by_job_id() {
           {#alert(123);#}
           {#$('.btn_page_jump').click()#}
           window.location.href = "?search_by_job_id="+$("#form-control").val();
        }
    </script>





{% endblock %}


{% block main_content %}
    <script src={% static "javascripts/jquery.min.js" %}></script>
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                {#--------------------------------------开始--筛选--------------------------------------#}

                        <form action="" class="form-inline" method="get" enctype="multipart/form-data" novalidate>
                            <i class="fa fa-edit" aria-hidden="true"></i><a href="{% url "job:JobListView" %}" style="font-size:20px;font-weight: bolder;">新增料号</a>

                            {% csrf_token %}


                            <label style="font-size:20px;">|</label>



                            <div class="form-group">
                                <input type="" class="form-control" id="query_job_name" name="query_job_name" value="{{ query_job_job_name }}" placeholder="料号名" style="width:120px;">
                            </div>

                            <div class="form-group">
                                <input type="" class="form-control" id="query_job_author" name="query_job_author" value="{{ query_job_author }}" placeholder="负责人" style="width:80px;">
                            </div>

                            <div class="form-group">
                                <input type="" class="form-control" id="query_job_from_object_pcb_factory" name="query_job_from_object_pcb_factory" value="{{ query_job_from_object_pcb_factory }}" placeholder="来源-板厂" style="width:100px;">
                            </div>

                            <label style="font-size:20px;">每页显示行数</label>
                            <select id="query_job_paginator_page" name="query_job_paginator_page" class="form-control">
                                {% for each in select_page %}

                                    {% if each.0|add:0 == query_job_paginator_page|add:0  %}
                                        <option selected="selected" value = {{ each.0 }} >{{ each.1 }}</option>
                                    {% endif %}
                                    {% if each.0|add:0 != query_job_paginator_page|add:0  %}
                                        <option value = {{ each.0 }} >{{ each.1 }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>


                            <div class="form-group">
                                <button type="submit" id="submit_query_get" name="submit_query_get" class="btn btn-primary" value="submit_query_get">查询</button>
                            </div>

                            <br><br>
                            <label>&ensp;标签：&ensp;</label>
                            <div class="form-group">
{#                                {% include 'job_tags_count.html' with page=jobs_page %}#}
                            </div>

                        </form>

                {#--------------------------------------结束--筛选--------------------------------------#}








                {#--------------------------------------开始--表格--------------------------------------#}
                    <div class="table-responsive">

                        <script type="text/javascript">
                            //页面加载的时候,所有的复选框都是未选中的状态
                            function checkOrCancelAll()
                            {
                                var chElt=document.getElementById("chElt");//1.获取checkbo的元素对象
                                var checkedElt = chElt.checked;//2.获取选中状态
                                var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

                                //var allCheck = document.getElementsByName("file");//方法2
                                var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
                                if(checkedElt)//全选
                                {

                                    for(var i=0;i<allCheck.length;i++)
                                    {
                                        //设置复选框的选中状态
                                        allCheck[i].checked=true;
                                    }
                                    mySpan.innerHTML="取消全选";
                                }
                                else//取消全选
                                {
                                    for(var i=0;i<allCheck.length;i++)
                                    {
                                        allCheck[i].checked=false;
                                    }
                                    mySpan.innerHTML="全选";
                                }
                            }
                            function ischecked()
                            {
                                var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
                                for(var i=0;i<allCheck.length;i++)
                                {
                                    if(allCheck[i].checked == true)
                                    {
                                        return true
                                    }
                                }
                                alert("请选择文件")
                                return false
                            }
                            </script>

                        <table id="basic-table" class=" table table-striped nowrap table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="chElt" onclick="checkOrCancelAll();"/><span id="mySpan">全选</span> <br /></th>
                                {% for each in job_field_verbose_name %}
                                    <th>{{ each }}</th>

                                {% endfor  %}

                            </tr>
                            </thead>
                            <tbody id="table_body">

                            {% for job in jobs_page %}

                                <tr>
                                <td>
{#                                    <input type="checkbox" name="check_box_list" value="{{ layer.id }}" onclick="userCheck(this)">#}

                                    <input class="file" name="ids" type="checkbox" value="{{ job.id }}" />
                                    {{ forloop.counter }}


                                </td>
                                <td>{{ job.id }}</td>

                                <td>
                                    <a href="{{ job.get_absolute_url }}" title="查看{{ job.job_name }}详细信息">
                                        {{ job.job_name|slice:"20" }}
                                    </a>


                                </td>

                                <td>
                                    {% if job.file_compressed %}
                                        <button class="btn btn-transparent" title="附件下载：{{ job.file_compressed }}" onclick="window.location.href='/media/{{ job.file_compressed }}';">  <i class="fa fa-download"> </i>  </button>
                                    {% endif %}

                                </td>

                                <td>{{ job.from_object_pcb_factory }}</td>












                                <td>
                                    {% if job.status == "published" %}
                                        <div style=color:green;>{{ job.get_status_display }}</div>

                                    {% endif %}
                                    {% if job.status != "published" %}
                                        {{ job.get_status_display }}

                                    {% endif %}

                                </td>
                                <td>{{ job.updated }}</td>
                                <td>{{ job.author }}</td>

                                <td>
                                    <div title={{ job.remark }}> {{ job.remark|slice:"20" }} </div>
                                </td>





                                <td>
                                    {% for tag in job.tags.all %}
                                        <a href="{% url "job:job_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% if tag %}
                                        <h2>Posts tagged with "{{ tag.name }}"</h2>
                                    {% endif %}
                                </td>

                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-transparent" title="编辑" onclick="window.location.href='JobUpdateView/{{ job.id }}/{{ current_page }}';"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-transparent" title="查看" onclick="window.location.href='{{ job.get_absolute_url }}';"><i class="fa fa-eye"></i>
{#                                                                        <a href="job/{{ job.id }}">查看</a>#}
                                        </button>

                                        <button class="btn btn-transparent" title="删除" onclick="window.location.href='JobDeleteView/{{ job.id }}';"><i class="fa fa-times"></i>
                                        </button>

                                        <button class="btn btn-transparent" title="分享" onclick="window.location.href='share_job/{{ job.id }}';"><i class="fa fa-share-alt"></i>
                                        </button>

                                        <button class="btn btn-transparent" title="分析" onclick="window.location.href='job_analysis';"><i class="fa fa-server"></i>
                                        </button>

                                    </div>
                                </td>
                            </tr>


                            {% endfor %}



                            </tbody>
                        </table>








                        <div id="pagination">
                            {% include 'pagination_job_view.html' with page=jobs_page %}
                        </div>








                        <script type="text/javascript" language="JavaScript">
                            function confirm_do_get_layer_info_ajax(value)
                            {
                                 if(confirm("确定要执行生成层名操作吗?"))
                                 {
                                     {#alert("确认")#}
                                     $.ajax({
                                        type:"post",
                                        data:{
                                            "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                                            "post_type":"get_file_name_from_org",
                                            "job_id":value,
                                        },
                                        url:"",
                                        dataType:"text",
                                        success:function (data) {
                                            alert(data)

                                        },
                                        error:function () {
                                            alert("false");
                                        }
                                    })
                                     window.location.href="get_file_name_from_org/" + value;
                                     {#return true;#}

                                 }else{
                                     alert(value)
                                     alert("cc")
                                     return false;

                                 }
                            }
                        </script>

                        <script type="text/javascript" language="JavaScript">
                                function confirm_do_vs_ep_ajax(value)
                                {
                                     if(confirm("确定要执行悦谱比图操作吗?"))
                                     {

                                         window.location.href='vs_ep/' + value + '/{{ current_page }}';
                                         {#return true;#}

                                     }else{
                                         alert(value)
                                         return false;

                                     }
                                }
                        </script>

                        <script type="text/javascript" language="JavaScript">
                            function confirm_do_vs_g_ajax(value)
                            {
                                 if(confirm("确定要执行G软件比图操作吗?"))
                                 {

                                     window.location.href='vs_g/' + value + '/{{ current_page }}';
                                     {#return true;#}

                                 }else{
                                     {#alert(value)#}
                                     return false;

                                 }
                            }
                        </script>

                    </div>

                {#--------------------------------------结束--表格--------------------------------------#}






                {#--------------------------------------开始--批量--------------------------------------#}
                    {% csrf_token %}
                    <sapn class="current">
                        <span class="step-links">
                            批量设置：
                            <select id="batch_job_set" name="batch_job_set">
{#                                <option value ="none">none</option>#}
{#                                <option value ="batch_input_ep_odb">批量生成悦谱转图</option>#}
{#                                <option value ="batch_delete_ep_odb">批量删除悦谱转图</option>#}
                            </select>
                            <input type="hidden" name="layer_set_vs_result_manual_which_one" id="layer_set_vs_result_manual_which_one" value={{ job_id }} />
                            <input type="hidden" name="current_page" id="current_page" value={{ current_page }} />
                            <input class="del-button" type="button" value="批量操作" />
                        </span>
                    </sapn>


                    <script type="text/javascript">
                        //页面加载的时候,所有的复选框都是未选中的状态
                        function checkOrCancelAll()
                        {
                            var chElt=document.getElementById("chElt");//1.获取checkbo的元素对象
                            var checkedElt = chElt.checked;//2.获取选中状态
                            var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消

                            //var allCheck = document.getElementsByName("file");//方法2
                            var mySpan=document.getElementById("mySpan");//4.循环遍历取出每一个复选框中的元素
                            if(checkedElt)//全选
                            {

                                for(var i=0;i<allCheck.length;i++)
                                {
                                    //设置复选框的选中状态
                                    allCheck[i].checked=true;
                                }
                                mySpan.innerHTML="取消全选";
                            }
                            else//取消全选
                            {
                                for(var i=0;i<allCheck.length;i++)
                                {
                                    allCheck[i].checked=false;
                                }
                                mySpan.innerHTML="全选";
                            }
                        }
                        function ischecked()
                        {
                            var allCheck = document.getElementsByClassName("file");//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
                            for(var i=0;i<allCheck.length;i++)
                            {
                                if(allCheck[i].checked == true)
                                {
                                    return true
                                }
                            }
                            alert("请选择文件")
                            return false
                        }
                    </script>

                    <script type="text/javascript">
                        $(function(){
                            $('#all').click(function(){
                                $('input[type=checkbox]').attr('checked', $(this).attr('checked'));
                            });
                            $('.del-button').click(function(){

                                var chckBox = document.getElementsByName("ids");
                                var num = chckBox.length;
                                var ids = "";
                                for(var index =0 ; index<num ; index++){
                                    if(chckBox[index].checked){
                                        ids += chckBox[index].value + ",";
                                    }
                                }
                                console.log(ids);
                                if(ids!=""){
                                    if(window.confirm("确定操作所选记录？")){
                                        $.ajax( {
                                            type : "post",
                                            url : "",
                                            dataType : "text",
                                            data:{"ids":ids,"batch_job_set":$("#batch_job_set").val(),
                                                "current_page":{{ current_page }},
                                                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(), //方式二
                                                {#headers:{"X-CSRFToken":$.cookie('csrftoken')},//方式三#}
                                            },   //指定要提交给后端的数据

                                            success : function(data) {
                                                alert(data);
                                                window.location.href = "" ;
                                            },
                                            error : function(data) {
                                                alert("系统错误，操作失败");
                                            }
                                        });
                                    }
                                }else{
                                    alert("请选择要操作的记录");
                                    }

                            });
                        });


                    </script>
                    {#--------------------------------------结束--批量--------------------------------------#}











                </div>
            </div>
        </div>
    </div>




{% endblock %}
{#<script src={% static "javascripts/jquery.min.js" %}></script>#}



