{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
{#    <li><i class="fa fa-home" aria-hidden="true"></i><a href={% url "eptest:JobListView" %}>料号管理</a></li>#}
    <li><a>VS详细信息</a></li>
{% endblock %}


<div class="row animated fadeInUp">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-content">
                <h4>料号名称：{{ job.job_name }}</h4>
{#                    <h4><i class="fa fa-edit" aria-hidden="true"></i><a href={% url "eptest:JobCreateView" %}>新增单个VS信息</a></h4>#}

                <form action="" class="form-inline" method="get" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="" class="form-control" id="query" name="query" placeholder="料号名、层名称">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">模糊查询</button>
                    </div>
                </form>
{#                    {{ cc }}#}

                <div class="table-responsive">
                    <table id="basic-table" class=" table table-striped nowrap table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            {% for each in field_verbose_name %}
                                <th>{{ each }}</th>

                            {% endfor  %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for each in vs %}
                            <tr>
                            <td>
                                <a href="{{ job.get_absolute_url }}" title="{{ each.job }}">

                                    {{ each.job|slice:"20" }}
                                </a>


                            </td>

                            <td>{{ each.layer }}</td>
                            <td>{{ each.layer_org }}</td>
                            <td>{{ each.vs_result }}</td>
                            <td>{{ each.vs_result_detail|slice:"20" }}</td>
                            <td>{{ each.vs_method }}</td>
                            <td>{{ each.layer_file_type }}</td>
                            <td>{{ each.layer_type }}</td>
                            <td>{{ each.features_count }}</td>
                            <td>{{ each.status }}</td>
                            <td>{{ each.vs_time_ep }}</td>
                            <td>{{ each.vs_time_g }}</td>
                            <td>{{ each.create_time }}</td>
                            <td>{{ each.updated }}</td>
                            <td>
                                {% for tag in job.tags.all %}
{#                                        <a href="{% url "job_manage:job_list_by_tag" tag.slug %}">{{ tag.name }}</a>#}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% if tag %}
                                    <h2>Posts tagged with "{{ tag.name }}"</h2>
                                {% endif %}
                            </td>

                            <td>
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-transparent" title="编辑" onclick="window.location.href='../../LayerUpdateViewOneJob/{{ layer.id }}';"><i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-transparent" title="查看" onclick="window.location.href='{{ job.get_absolute_url }}';"><i class="fa fa-eye"></i>
{#                                                                        <a href="job/{{ job.id }}">查看</a>#}
                                    </button>

                                    <button class="btn btn-transparent" title="删除" onclick="window.location.href='JobDeleteView/{{ job.id }}';"><i class="fa fa-times"></i>
                                    </button>

                                    <button class="btn btn-transparent" title="分享" onclick="window.location.href='share_job/{{ job.id }}';"><i class="fa fa-share-alt"></i>
                                    </button>

                                    <button class="btn btn-transparent" title="分析" onclick="window.location.href='job_analysis';"><i class="fa fa-server"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>


                        {% endfor %}



                        </tbody>
                    </table>
{#                        {% include 'pagination.html' with page=page_obj %}#}
                </div>
            </div>
        </div>
    </div>
</div>

<script src={% static "javascripts/jquery.min.js" %}></script>



