{% load admin_list %}
{% load i18n %}
{% load simpletags %}
<div id="pagination">
    {% django_version_is_gte_32x as is_32x %}
    {% if pagination_required %}
        <el-pagination
                background
                @current-change="handleCurrentChange"
                {% if is_32x %}
                :current-page="{{ cl.page_num }}"
                {% else %}
                :current-page="{{ cl.page_num }}+1"
                {% endif %}
                :page-size="{{ cl.list_per_page }}"
                layout="total,prev, pager, next, jumper"
                :total="{{ cl.result_count|to_str }}">





        </el-pagination>
        <form action="" method="get" class="pagination">
            <input type="hidden" name="per_page" value="{{ cl.list_per_page }}">
            <label for="per-page-select">每页显示:</label>
            <select name="per_page" id="per-page-select">
                <option value="10"{% if cl.get_results_per_page == 10 %} selected{% endif %}>10</option>
                <option value="25"{% if cl.get_results_per_page == 25 %} selected{% endif %}>25</option>
                <option value="50"{% if cl.get_results_per_page == 50 %} selected{% endif %}>50</option>
                <!-- 添加更多选项，根据你的需求 -->
            </select>
            <input type="submit" value="应用">
        </form>
    {% endif %}
</div>
<script type="text/javascript">
    $(function () {
        new Vue({
            el: "#pagination",
            data: {},
            methods: {
                handleCurrentChange: function (page) {
                    {% if is_32x %}
                        page_go(page);
                    {% else %}
                        page_go(page - 1);
                    {% endif %}
                }
            }
        })

        function page_go(p) {
            $("#changelist-search input[name='p']").val(p);
            $("#changelist-search").submit();
        }

    })
</script>


