{% extends "admin/base.html" %}
{% load static  %}


{% block my_css %}
    <!-- Bootstrap CSS -->
    <link href={% static "index_base_20220818/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- bootstrap theme -->
    <link href={% static "index_base_20220818/css/bootstrap-theme.css" %} rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href={% static "index_base_20220818/css/elegant-icons-style.css" %} rel="stylesheet" />
    <link href={% static "index_base_20220818/css/font-awesome.min.css" %} rel="stylesheet" />
    <!-- full calendar css-->
    <link href={% static "index_base_20220818/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" %} rel="stylesheet" />
    <link href={% static "index_base_20220818/assets/fullcalendar/fullcalendar/fullcalendar.css" %} rel="stylesheet" />
    <!-- easy pie chart-->
    <link href={% static "index_base_20220818/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" %} rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href={% static "index_base_20220818/css/owl.carousel.css" %} type="text/css">
    <link href={% static "index_base_20220818/css/jquery-jvectormap-1.2.2.css" %} rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href={% static "index_base_20220818/css/fullcalendar.css" %}>
    <link href={% static "index_base_20220818/css/widgets.css" %} rel="stylesheet">
    <link href={% static "index_base_20220818/css/style.css" %} rel="stylesheet">
    <link href={% static "index_base_20220818/css/style-responsive.css" %} rel="stylesheet" >
    <link href={% static "index_base_20220818/css/xcharts.min.css" %} rel="stylesheet">
    <link href={% static "index_base_20220818/css/jquery-ui-1.10.4.min.css" %} rel="stylesheet">

    <link rel="apple-touch-icon" sizes="120x120" href={% static "favicon/apple-icon-120x120.png" %}>
    <link rel="icon" type="/static/image/png" sizes="192x192" href={% static "favicon/android-icon-192x192.png" %}>
    <link rel="icon" type="/static/image/png" sizes="32x32" href={% static "favicon/favicon-32x32.png" %}>
    <link rel="icon" type="/static/image/png" sizes="16x16" href={% static "favicon/favicon-16x16.png" %}>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "vendor/animate.css/animate.css" %}>
    <link rel="stylesheet" href={% static "vendor/data-table/media/css/dataTables.bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "vendor/data-table/extensions/Responsive/css/responsive.bootstrap.min.css" %}>
{#    <link rel="stylesheet" href={% static "stylesheets/css/style.css" %}>#}
    <link rel="stylesheet" href={% static "vendor/select2/css/select2.min.css" %}>
    <link rel="stylesheet" href={% static "vendor/select2/css/select2-bootstrap.min.css" %}>
{#    <link rel="stylesheet" href={% static "vendor/bootstrap_date-picker/css/bootstrap-datepicker3.min.css" %}>#}
    <link rel="stylesheet" href={% static "vendor/bootstrap_time-picker/css/timepicker.css" %}>
{#    <link rel="stylesheet" href={% static "vendor/bootstrap_color-picker/css/bootstrap-colorpicker.min.css" %}>#}
{#    <link href="{% static "admin/css/base.css" %}" rel="stylesheet">#}

{% endblock %}
{% block content %}
    <script src={% static "javascripts/jquery.min.js" %}></script>

    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">


                        <form action="" class="form-inline" method="get" enctype="multipart/form-data" novalidate>

                            {% csrf_token %}

{#                            <label style="font-size:20px;">|</label>#}
                            <label style="font-size:20px;">项目</label>
                            <select id="query_product_name" name="query_product_name" class="form-control" style="width:180px;">
                                {% for each in product_name_select %}
                                    query_product_name_cc:{{ query_product_name }}|
{#                                    {{ each.0|stringformat:'i' }}?={{ query_product_name|stringformat:'i' }}#}

                                    {% if each.0 == query_product_name %}
                                        yes
                                        <option selected="selected" value = {{ each.0 }} >{{ each.1 }}</option>
                                    {% endif %}
                                    {% if each.0 != query_product_name %}
                                        no
                                        <option value = {{ each.0 }} >{{ each.1 }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>

                            <div class="form-group">
                                <button type="submit" id="submit_query_get" name="submit_query_get" class="btn btn-primary" value="submit_query_get">查询</button>
                            </div>

                            <br><br>


                        </form>


                        <div class="col-md-12">

                            <h3>激活数：{{ active_count }}个</h3>
                            <h3>已解决：{{ resolved_count }}个</h3>


                            {#--------------------------------------开始--表格--------------------------------------#}


                                <div class="table-responsive">

                                    <table class=" table table-striped nowrap table-hover" id="listtable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>


                                                {% for each in field_verbose_name %}
                                                    <th>{{ each }}</th>

                                                {% endfor  %}

                                            </tr>
                                        </thead>
                                        <tbody id="table_body">
                                            <tr>
                                                <td>今日</td>
                                                <td>{{ today_new_bug_count }}</td>
                                                <td>{{ today_resolved_bug_count }}</td>
                                                <td>{{ today_closed_bug_count }}</td>
                                            </tr>
                                            <tr>
                                                <td>昨日</td>
                                                <td>{{ yestoday_new_bug_count }}</td>
                                                <td>{{ yestoday_resolved_bug_count }}</td>
                                                <td>{{ yestoday_closed_bug_count }}</td>
                                            </tr>

{#                                            {% for each in statics_author_list %}#}
{##}
{#                                                <tr>#}
{#                                                    <td>{{ each.负责人 }}</td>#}
{##}
{#                                                    <td>{{ each.料号数 }}</td>#}
{##}
{#                                                    <td>{{ each.published料号数 }}</td>#}
{##}
{#                                                    <td>{{ each.比图应通过料号数 }}</td>#}
{##}
{#                                                    <td>{{ each.draft料号数 }}</td>#}
{##}
{##}
{#                                                </tr>#}
{##}
{##}
{#                                            {% endfor %}#}


                                        </tbody>
                                    </table>

                                </div>

                            {#--------------------------------------结束--表格--------------------------------------#}


{#                            {{ bug_active_priority_distribution|safe }}#}
                            <div class="col-sm-6">
                                <h4 class="section-subtitle"><b>激活Bug优先级分布</b></h4>
                                <div class="panel">
                                    <div class="panel-content">
                                        <div id="line-example">

                                            <div id="main001" style="width: 700px;height:400px;">
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                                                <script type="text/javascript">

                                                    var statistics_bug_active_priority_distribution = {{ bug_active_priority_distribution|safe }};
                                                    {#alert(statistics_bug_active_priority_distribution);#}
                                                    var statistics_bug_active_priority_distribution_js=[];
                                                    for (var i in statistics_bug_active_priority_distribution){
                                                        var each_one={ value: statistics_bug_active_priority_distribution[i].个数, name: statistics_bug_active_priority_distribution[i].优先级 };
                                                        {#alert(each_one.value);#}
                                                        {#alert(each_one.name);#}
                                                        statistics_bug_active_priority_distribution_js.push(each_one);
                                                    };






                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart=echarts.init(document.getElementById('main001'));

                                                    // 指定图表的配置项和数据
                                                    var option = {
                                                        tooltip: {
                                                            trigger: 'item'
                                                            },
                                                        legend: {
                                                            top: '3%',
                                                            left: 'center'
                                                            },
                                                        series: [
                                                                {
                                                                  name: '优先级',
                                                                  type: 'pie',
                                                                  radius: ['40%', '70%'],
                                                                  avoidLabelOverlap: false,
                                                                  itemStyle: {
                                                                    borderRadius: 10,
                                                                    borderColor: '#fff',
                                                                    borderWidth: 2
                                                                  },
                                                                  label: {
                                                                    show: true,
                                                                    position: 'outer',
                                                                      {#label["position"]属性只有3种: center/inter , outer#}
                                                                      formatter: '{b} : {c} ({d}%)',

                                                                    textStyle:{
                                                                        fontSize:11,
                                                                        fontWeight: 'bold'
                                                                    }
                                                                  },
                                                                  emphasis: {
                                                                    label: {
                                                                      show: true,
                                                                      fontSize: 20,
                                                                      fontWeight: 'bold'
                                                                    }
                                                                  },
                                                                  labelLine: {
                                                                    show: false
                                                                  },
                                                                  data: statistics_bug_active_priority_distribution_js
                                                                }
                                                            ]
                                                        };


                                                                                                // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                 </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <h4 class="section-subtitle"><b>拥有激活Bug数排行榜</b></h4>
                                <div class="panel">
                                    <div class="panel-content">
                                        <div id="line-example">

                                            <div id="main002" style="width: 700px;height:400px;">
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                                                <script type="text/javascript">

                                                    var statistics_active_bug_group_by_who_list = {{ active_bug_group_by_who_list|safe }};
                                                    {#alert(statistics_bug_active_priority_distribution);#}
                                                    var statistics_active_bug_group_by_who_list_js=[];
                                                    for (var i in statistics_active_bug_group_by_who_list){
                                                        var each_one={ score: statistics_active_bug_group_by_who_list[i].score, name: statistics_active_bug_group_by_who_list[i].name };
                                                        {#alert(each_one.value);#}
                                                        {#alert(each_one.name);#}
                                                        statistics_active_bug_group_by_who_list_js.push(each_one);
                                                    };



                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart=echarts.init(document.getElementById('main002'));

                                                    // 指定图表的配置项和数据
                                                    var option = {
                                                          dataset: [
                                                            {
                                                              dimensions: ['name', 'age', 'profession', 'score', 'date'],
                                                              source:statistics_active_bug_group_by_who_list_js
                                                            },
                                                            {
                                                              transform: {
                                                                type: 'sort',
                                                                config: { dimension: 'score', order: 'asc' }
                                                              }
                                                            }
                                                          ],
                                                          yAxis: {
                                                            type: 'category',
                                                            axisLabel: {
                                                                interval: 0,
                                                                rotate: 30,
                                                                textStyle:{
                                                                        fontSize:13,
                                                                        fontWeight: 'bold',
                                                                    }
                                                                },
                                                          },
                                                          xAxis: {},
                                                          series: {
                                                            type: 'bar',
                                                            encode: { y: 'name', x: 'score' },
                                                            datasetIndex: 1,
                                                               label: {
                                                                    show: true,
                                                                    position: 'inside'
                                                                  },
                                                          }
                                                        };

                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                 </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


{#                            {{ statics_bug_by_day_x|safe }}#}
{#                            {{ statics_bug_by_day_y|safe }}#}
                            <div class="col-sm-6">
                                <h4 class="section-subtitle"><b>每日新增Bug数</b></h4>
                                <div class="panel">
                                    <div class="panel-content">
                                        <div id="line-example">

                                            <div id="main003" style="width: 700px;height:400px;">
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                                                <script type="text/javascript">

                                                    var x_list = {{ statics_bug_by_day_x|safe }};
                                                    var y_list = {{ statics_bug_by_day_y|safe }};



                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart=echarts.init(document.getElementById('main003'));

                                                    // 指定图表的配置项和数据
                                                    var option = {
                                                        tooltip: {
                                                            trigger: 'axis',
                                                            axisPointer: {
                                                              type: 'shadow'
                                                            }
                                                        },
                                                        grid: {
                                                            left: '3%',
                                                            right: '4%',
                                                            bottom: '3%',
                                                            containLabel: true
                                                        },
                                                        xAxis: [
                                                            {
                                                              type: 'category',
                                                              data: x_list,
                                                              axisTick: {
                                                                alignWithLabel: true
                                                              }
                                                            }
                                                        ],
                                                        yAxis: [
                                                            {
                                                              type: 'value'
                                                            }
                                                        ],
                                                        series: [
                                                            {
                                                              name: 'Bug个数',
                                                              type: 'bar',
                                                              barWidth: '60%',
                                                                label: {
                                                                    show: true
                                                                },
                                                              data: y_list
                                                            }
                                                        ]
                                                    };


                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                 </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <h4 class="section-subtitle"><b>每月新增Bug数</b></h4>
                                <div class="panel">
                                    <div class="panel-content">
                                        <div id="line-example">

                                            <div id="main004" style="width: 700px;height:400px;">
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                                                <script type="text/javascript">

                                                    var x_list = {{ statics_bug_by_month_x|safe }};
                                                    var y_list = {{ statics_bug_by_month_y|safe }};



                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart=echarts.init(document.getElementById('main004'));

                                                    // 指定图表的配置项和数据
                                                    var option = {
                                                        tooltip: {
                                                            trigger: 'axis',
                                                            axisPointer: {
                                                              type: 'shadow'
                                                            }
                                                        },
                                                        grid: {
                                                            left: '3%',
                                                            right: '4%',
                                                            bottom: '3%',
                                                            containLabel: true
                                                        },
                                                        xAxis: [
                                                            {
                                                              type: 'category',
                                                              data: x_list,
                                                              axisTick: {
                                                                alignWithLabel: true
                                                              }
                                                            }
                                                        ],
                                                        yAxis: [
                                                            {
                                                              type: 'value'
                                                            }
                                                        ],
                                                        series: [
                                                            {
                                                              name: 'Bug个数',
                                                              type: 'bar',
                                                              barWidth: '60%',
                                                                label: {
                                                                    show: true
                                                                },
                                                              data: y_list
                                                            }
                                                        ]
                                                    };


                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                 </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <h4 class="section-subtitle"><b>Bug模块分布</b></h4>
                                <div class="panel">
                                    <div class="panel-content">
                                        <div id="line-example">

                                            <div id="main005" style="width: 700px;height:400px;">
                                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                                                <script type="text/javascript">

                                                    // 基于准备好的dom，初始化echarts实例
                                                    var myChart=echarts.init(document.getElementById('main005'));

                                                    {#var chartDom = document.getElementById('main005');#}
                                                    {#const uploadedDataURL = 'C:/Users/Administrator/Desktop/data2.json';#}
                                                    const uploadedDataURL = 'http://127.0.0.1:8000/zentao/BugModuleDistributionJsonView';
                                                    myChart.showLoading();
                                                    $.getJSON(uploadedDataURL, function (rawData) {
                                                      myChart.hideLoading();
                                                      function convert(source, target, basePath) {
                                                        for (let key in source) {
                                                          let path = basePath ? basePath + '.' + key : key;
                                                          if (!key.match(/^\$/)) {
                                                            target.children = target.children || [];
                                                            const child = {
                                                              name: path
                                                            };
                                                            target.children.push(child);
                                                            convert(source[key], child, path);
                                                          }
                                                        }
                                                        if (!target.children) {
                                                          target.value = source.$count || 1;
                                                        } else {
                                                          target.children.push({
                                                            name: basePath,
                                                            value: source.$count
                                                          });
                                                        }
                                                      }
                                                      const data = {
                                                        children: []
                                                      };
                                                      convert(rawData, data, '');
                                                      myChart.setOption(
                                                        (option = {
                                                          title: {
                                                            {#text: 'Bug模块分布',#}
                                                            {#subtext: '2016/04',#}
                                                            {#left: 'leafDepth'#}
                                                          },
                                                          tooltip: {},
                                                          series: [
                                                            {
                                                              name: 'option',
                                                              type: 'treemap',
                                                              visibleMin: 300,
                                                              data: data.children,
                                                              leafDepth: 2,
                                                              levels: [
                                                                {
                                                                  itemStyle: {
                                                                    borderColor: '#555',
                                                                    borderWidth: 4,
                                                                    gapWidth: 4
                                                                  }
                                                                },
                                                                {
                                                                  colorSaturation: [0.3, 0.6],
                                                                  itemStyle: {
                                                                    borderColorSaturation: 0.7,
                                                                    gapWidth: 2,
                                                                    borderWidth: 2
                                                                  }
                                                                },
                                                                {
                                                                  colorSaturation: [0.3, 0.5],
                                                                  itemStyle: {
                                                                    borderColorSaturation: 0.6,
                                                                    gapWidth: 1
                                                                  }
                                                                },
                                                                {
                                                                  colorSaturation: [0.3, 0.5]
                                                                }
                                                              ]
                                                            }
                                                          ]
                                                        })
                                                      );
                                                    });



                                                 </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>













                            {#--------------------------------------开始--图表1--------------------------------------#}







                            {#--------------------------------------结束--图表1--------------------------------------#}


                            {#--------------------------------------开始--图表2--------------------------------------#}







                            {#--------------------------------------结束--图表2--------------------------------------#}


                            {#--------------------------------------开始--图表3--------------------------------------#}





                            {#--------------------------------------结束--图表2--------------------------------------#}







                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
<script src={% static "javascripts/jquery.min.js" %}></script>

