{% extends 'index_base_20220818.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}

{% block content_header_child %}{% endblock %}
{% block main_content %}

    <script src={% static "javascripts/jquery.min.js" %}></script>
{#    <script type="text/javascript" src='C:/cc/python/epwork/dms/collected_static/vendor/data-table/media/js/jquery.dataTables.min.js'></script>#}
{#    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>#}
{#    <script type="text/javascript" src=" //cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>#}

    <div class="wrap">

        <div class="page-body">

        </div>
    </div>




{% endblock %}